<!-- password_reset_email.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Email</title>
</head>
<body>
    <p>Hello {{ user.first_name }},</p>
    <p>You're receiving this email because you requested a password reset for your account at {{ domain }}.</p>
    <p>Please go to the following link to reset your password:</p>
    <p><a href="http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>
    <p>If you didn't request this, you can safely ignore this email.</p>
    <p>Thanks,</p>
    <p>The Team</p>
</body>
</html>
